<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring MVC Application</display-name>

    <servlet>
		<servlet-name>yeela-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>yeela-dispatcher</servlet-name>
		 <url-pattern>/</url-pattern>

		<!--<url-pattern>/yeela/*</url-pattern>   -->
	</servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/yeela-dispatcher-servlet.xml
        </param-value>
    </context-param>
<!-- <security-constraint>
    <web-resource-collection>
        <web-resource-name>yeela-dispatcher</web-resource-name>
        <url-pattern>/login/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>-->

<security-constraint>
    <web-resource-collection>
        <!-- <web-resource-name>SSL Page</web-resource-name> -->
         <web-resource-name>yeela-dispatcher</web-resource-name>
        <!--<url-pattern>/login/*</url-pattern>-->
        <url-pattern>/yeela/login/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>

 <security-constraint>
    <web-resource-collection>
         <!--  <web-resource-name>SSL FREE Pages</web-resource-name>-->
         <web-resource-name>yeela-dispatcher</web-resource-name>
        <url-pattern>/</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
</security-constraint>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>